@media screen and (min-width: 1024px) {
    .container {

        .card {
            max-width: 40%;
        }

        .advice {
            padding: 0 2rem 0 2rem;
            margin-bottom: 5.3rem;
        }


    }
}